Repository herd/herdtools7, pull requests merged in 2023-09, with the labels that each got.

#671 Further transliteration of typing rules
  asllib/ASLSemanticsReference.mld
  asllib/ASLTypingReference.mld
  asllib/Typing.ml
  asllib/instrumentation.ml
  asllib/types.ml
Labels: ASL

#661 [herd,asl] Fix asl cas
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/Typing.ml
  asllib/backend.mli
  asllib/tests/asl.t/run.t
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/implementations.asl
  herd/tests/instructions/AArch64.ASL/CAS03.litmus
  herd/tests/instructions/AArch64.ASL/CAS03.litmus.expected
  lib/ASLOp.ml
Labels: herd

#673 [litmus] Limit pointer to code (presi/kvm mode)
  litmus/preSi.ml
Labels: bug, litmus

#672 [litmus] Implement the "telechat" variant
  herd/AArch64Sem.ml
  lib/label.ml
  lib/label.mli
  litmus/AArch64Compile_litmus.ml
  litmus/ARMCompile_litmus.ml
  litmus/LISACompile.ml
  litmus/MIPSCompile_litmus.ml
  litmus/PPCCompile_litmus.ml
  litmus/RISCVCompile_litmus.ml
  litmus/X86Compile_litmus.ml
  litmus/X86_64Compile_litmus.ml
  litmus/XXXCompile_litmus.mli
  litmus/compile.ml
  litmus/variant_litmus.ml
  litmus/variant_litmus.mli
Labels: litmus
